/************************************************
  Row
************************************************/

/* Centered, Wrapping */
.l-row-cw {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/************************************************
  Column
************************************************/

/* Centered */
.l-col-c {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/************************************************
  Width
************************************************/

/* 300px */
.l-w-300px {
  width: 300px;
}

/************************************************
  Max Width
************************************************/

/* 300px */
.l-mw-300px {
  max-width: 300px;
}

/************************************************
  Max Height
************************************************/

/* 100px, Scrollable */
.l-mh-100px-s {
  max-height: 100px;
  overflow: auto;
}

/************************************************
  Centering
************************************************/

/* horizontal, margin */
.l-center-hm {
  margin: 0 auto;
}
