html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**************************************
  Shell
**************************************/

.shell {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  min-height: 100%;
  overflow: hidden;
}

.shell__primary-content {
  flex: 1 1 auto;
}

.shell__secondary-content {
  flex: 0 0 auto;
}

/**************************************
  Header
**************************************/

.header {
  border-bottom: solid #222 1px;
  margin: 3px 0;
}

.header__title {
  color: #222;
  font-size: 2em;
  margin: 5px;
  text-align: center;
}

/**************************************
  Nav
**************************************/

.nav {
  margin: 5px;
}

.nav__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__list-entry {
  flex: 1 1 20px;
  text-align: center;
}

.nav__list-entry:not(:last-of-type) {
  border-right: solid 1px #222;
}

.nav__link {
  color: #222;
  display: block;
  text-decoration: none;
}

.nav__link:hover {
  color: #d00;
}

/**************************************
  Main
**************************************/

.main {
  margin: 5px;
}

/**************************************
  Footer
**************************************/

.footer {
  border-top: solid 1px #222;
  margin: 3px 0;
  text-align: right;
}

/**************************************
  Low Emphasis
**************************************/

.low-emphasis {
  font-size: 0.8em;
}

.low-emphasis__link {
  color: #222;
  text-decoration: none;
}

.low-emphasis__link:hover {
  color: #d00;
}

/**************************************
  Section
**************************************/

.section {
  margin: 5px;
}

.section__title {
  color: #222;
  font-size: 1.4em;
  margin: 5px;
  text-align: center;
}
