* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

/**************************************
  Shell
**************************************/

.shell {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  min-height: 100%;
  overflow: hidden;
}

.shell__primary-content {
  flex: 1 1 auto;
}

.shell__secondary-content {
  flex: 0 0 auto;
}

@media (min-width: 800px) {
  .shell {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .shell {
    max-width: 80%;
  }
}

/**************************************
  Header
**************************************/

.header {
  border-bottom: solid #222 1px;
  margin: 3px 0;
}

.header__title {
  color: #222;
  font-size: 2em;
  margin: 5px;
  text-align: center;
}

/**************************************
  Nav
**************************************/

.nav {
  margin: 5px;
}

.nav__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__list-entry {
  flex: 1 1 20px;
  text-align: center;
}

.nav__list-entry:not(:last-of-type) {
  border-right: solid 1px #222;
}

.nav__link {
  color: #222;
  display: block;
  text-decoration: none;
}

.nav__link:hover {
  color: #d00;
}

/**************************************
  Main
**************************************/

.main {
  margin: 5px 0;
}

/**************************************
  Footer
**************************************/

.footer {
  border-top: solid 1px #222;
  margin: 3px 0;
  text-align: right;
}

/**************************************
  Low Emphasis
**************************************/

.low-emphasis {
  font-size: 0.8em;
}

.low-emphasis__link {
  color: #222;
  text-decoration: none;
}

.low-emphasis__link:hover {
  color: #d00;
}

/**************************************
  Section
**************************************/

.section {
  margin: 5px 0;
}

.section__title {
  color: #222;
  font-size: 1.4em;
  margin: 5px;
  text-align: center;
}

/**************************************
  About
**************************************/

.about {
  text-indent: 2em;
}

/**************************************
  Post
**************************************/

.post {

}

.post__title {

}

.post__subtitle {

}

.post__date {

}

.post__content {

}

.post__footer {

}

.post__tags {

}

/**************************************
  Flex Grid
**************************************/

.flex-grid {
  display: flex;
  justify-content: center;
}

/**************************************
  Portfolio Piece
**************************************/

.portfolio-piece {
  align-items: center;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 20px 3px;
  padding: 10px;
}

.portfolio-piece__title {
  color: #222;
  font-size: 1.2em;
  margin: 3px 3px 8px;
  text-align: center;
}

.portfolio-piece__image {
  border: solid 2px #555;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
}

/* Change image's border color on hover only if a live-link is present. */
.portfolio-piece__live-link:hover > .portfolio-piece__image {
  border-color: #d00;
}

.portfolio-piece__source-link {
  color: #222;
  font-size: 0.8em;
  margin: 5px;
  text-decoration: none;
}

.portfolio-piece__source-link:hover {
  color: #d00;
}

.portfolio-piece__description {
  margin: 10px 0;
  max-width: 300px;
  text-indent: 2em;
}
